<div id="bmr-algorithm">
    <div class="input-group">
        <label for="age">Age (Max 75 years)</label>
        <input id="age" ng-model="main.age">
    </div>

    <div class="input-group">
        <label for="height">Height (Max 215 cm)</label>
        <input id="height" ng-model="main.height">
    </div>

    <div class="input-group">
        <label for="weight">Weight (Max 135 kg)</label>
        <input id="weight" ng-model="main.weight">
    </div>

    <div class="input-group">
        <label for="is-male">Male? (0 for no, 1 for yes)</label>
        <input id="is-male" ng-model="main.isMale">
    </div>

    <div class="input-group">
        <button ng-click="main.trainAIForBmr()">Train AI</button>
    </div>

    <div class="input-group">
        <button ng-click="main.calculateAlgorithmBmr()">Calculate Algorithm BMR</button>
    </div>

    <div class="input-group">
        <button ng-click="main.calculateAIBmr()">Calculate AI BMR</button>
    </div>

    <div id="algorithm-result">Algorithm Result: {{main.algorithmBmr}}</div>
    <div id="ai-result">AI Result: {{main.aiBmr}}</div>
</div>
